:root{
    background-color: whitesmoke;
    
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    
}



#quiz{
    font-size: 5.4rem;
    color:orange;
    margin-bottom: 5rem;
    text-align: center;
    

}
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: orange;
  margin-bottom: 5rem;
  
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }

  

  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
 
  .button {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid peachpuff;
    margin-bottom: 1rem;
    text-decoration: none;
    color:orange;
    background-color: white;
  }
  
  .button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #9b8509;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }




  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: white;
    
}

.logo {
    font-size: 1.5rem;
    margin: .5rem;
    color: white;
}

.navbar-links {
    height: 100%;
    font-size: 1rem;
}

.navbar-links ul {
    display: flex;
    
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    
}

.navbar-links li:hover {
    background-color:rgb(80, 79, 79);
}

.hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        font-size: 1rem;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
.input {
    margin-bottom: 1rem;
    width: 18rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.4rem 0  #9b8509;
    
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 